@font-face {
  font-family: "Satoshi Bold";
  src: local("Gestura"), url("../../../assets/fonts/Satoshi-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Italic Gestura";
  src: local("Gestura"), url("../../../assets/fonts/GesturaLightItalic.otf") format("opentype");
}

.community__container {
  position: relative;
  width: 95%;
  margin: 0 auto;
  background-color: #2d3142;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;

  height: 60vh;
  will-change: transform;
  overflow: hidden;
  @media only screen and (max-width: 700px) {
    padding-top: 2 rem;
    flex-direction: column-reverse;
    height: 80vh;
  }
  @media only screen and (max-height: 700px) and (max-width: 600px) {
    flex-direction: column-reverse;
    height: 85vh;
  }

  // .opacityeffect {
  //   opacity: 0;
  //   position: absolute;
  //   left: -21%;
  //   pointer-events: none;
  //   top: 57%;
  //   width: 50%;
  //   height: 50%;
  //   z-index: 10000;
  //   background: radial-gradient(53% 51% at 40.44% 44.95%, #00000070 0%, rgba(0, 0, 0, 0) 100%);
  //   @media only screen and (max-width: 700px) {
  //     opacity: 1;
  //     position: absolute;
  //     left: 0;
  //     top: 21%;
  //     width: 100%;
  //     height: 87%;
  //     z-index: 10000;
  //     background: radial-gradient(57% 50% at 46.44% 38.95%, #000000 0%, rgba(0, 0, 0, 0.1) 100%);
  //   }
  // }

  .community__left {
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    left: -2%;
    overflow: hidden;
    @media only screen and (max-width: 700px) {
      width: 100%;
      height: 65%;
      border-radius: 20px;
      margin: 0 auto;
    }
  }

  .community__right {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 50%;
    font-family: Italic Gestura;
    gap: 10px;
    @media only screen and (max-width: 700px) {
      width: 105%;
      justify-content: center;
      align-items: flex-start;
      margin-left: 20vmin;
      height: 60%;
      z-index: 100000;
    }

    h2 {
      font-size: clamp(42px, 3vw, 4rem);
      line-height: 90%;
      margin-top: 0vmin;
    }
    span {
      font-size: clamp(3rem, 2.9vw, 4rem);
      font-family: Satoshi;
      color: black;
      font-family: Satoshi Bold;
    }
    p {
      font-family: Satoshi;
      position: relative;
      max-width: 80%;
      color: black;
      @media only screen and (max-width: 700px) {
        flex-direction: column-reverse;
      }
    }
    button {
      font-family: Satoshi;
      background-color: #92e5ff;
      border: 1px solid #2fb8e3;
      color: black;
      font-weight: 600;
      border-radius: 20px;
      z-index: 100000;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.6s ease;
      &:hover {
        background-color: #2fe3ce;
        transition: all 0.6s ease-out;
      }
      @media only screen and (max-width: 700px) {
        margin-top: 1rem;
      }
    }
  }
  @media only screen and (max-width: 400px) {
    margin-top: 25%;
  }
}

.community__text {
  @media only screen and (max-width: 400px) {
    top: 5%;
  }
}

// .community__container::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-image: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(255 255 255));
//   border-radius: 20px;
//   @media (max-width: 768px) {
//     background: radial-gradient(50% 50% at 46.44% 54.95%, #ffffff 0%, rgba(249, 248, 244, 0) 100%);
//   }
// }

.galleryverticalsection {
  position: relative;
  width: 85%;
  margin-right: auto;
}

.galleryvertical {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height: 90vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .galleryvertical {
    width: 160%;
  }
}

.galleryvertical .col {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;
  justify-self: flex-start;
  padding: 0;
  will-change: transform;
}

.galleryvertical .col:nth-child(2) {
  align-self: flex-end;
  justify-self: flex-end;
}

.galleryvertical .image {
  width: 100%;
  padding: 1rem;
  will-change: transform;
}

.galleryvertical img {
  transition: 0.3s ease-out;
  overflow: hidden;
  opacity: 0.7;
  filter: contrast(0.6);
  width: 100%;
  border-radius: 20px;

  &:hover {
    transition: 0.3s ease-out;
    filter: contrast(1);
    opacity: 1;
  }
}
