.step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 300px;
}

.v-stepper {
  position: relative;
  /*   visibility: visible; */
}

/* regular step */
.step .circle1::before {
  content: "";
  position: absolute;
  width: 3px;
  height: calc(50% - 10px);
  background-color: white;
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
}

.step .circle1 {
  background-color: #595958;
  border: 50px solid rgba(128, 128, 128, 0.781) D1A;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step .circle2 {
  background-color: #595958;
  border: 50px solid rgba(128, 128, 128, 0.781) D1A;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step .circle3 {
  background-color: #595958;
  border: 50px solid rgba(128, 128, 128, 0.781) D1A;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step .circle4 {
  background-color: #595958;
  border: 50px solid rgba(128, 128, 128, 0.781) D1A;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step .circlefade {
  position: absolute;
  z-index: 0;
  top: -5px;
  left: -5px;
  background-color: #5959587b;
  border: 50px solid rgba(128, 128, 128, 0.781) D1A;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step .activefade {
  position: absolute;
  z-index: 0;
  top: -5px;
  left: -5px;
  background-color: rgba(255, 255, 255, 0.427);
  border: 50px solid rgba(128, 128, 128, 0.781) D1A;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step .active {
  background-color: white;
  border: 50px solid rgba(128, 128, 128, 0.781) D1A;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.steper-count {
}

.step .line {
  left: 50%;
  height: 100%;
  position: absolute;
  border-left: 3px solid #595958;
}

.step .activeLine {
  left: 50%;
  height: 100%;
  position: absolute;
  border-left: 3px solid white;
}

.step.empty .circle {
  visibility: hidden;
}

.step.empty .line {
  top: 0;
  height: 150%;
}

.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1;
}

.content {
  margin-left: 20px;
  display: flex;
}
