.header__buttons {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  @media only screen and (max-width: 700px) {
    gap: 18%;
    height: 16%;
    flex-direction: column;
  }

  button {
    font-family: "Poppins";
    font-weight: 900;
    color: black;
    text-wrap: nowrap;
    position: relative;
    border: 1px solid rgba(227, 225, 214, 1);
    background-color: #e9eeff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
    padding: 1rem 5rem;
    img {
      transition-duration: 0.3s;
    }
    .hoverimg {
      background-color: #4f75ff;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      padding: 12.5px;
      margin-right: 10px;
    }
    &:hover {
      box-shadow: 0 0 5px#89B8FFCC, 0 0 25px #89b8ffcc, 0 0 50px #89b8ffcc, 0 0 100px #89b8ffcc;

      transition-duration: 0.3s;
      background-color: rgba(255, 255, 255, 0.75);
    }
    &:hover .hoverimg {
      transform: translateX(4px);
      transition-duration: 0.3s;
    }
  }
}
