@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e9eeff;
  transition: background-color 0.5s ease-in-out;

  font-family: "Poppins", sans-serif;
}
h1 {
  font-family: "Poppins", sans-serif; /* Aplicas la fuente a los encabezados */
}

.dark body {
  @apply bg-gray-800 text-white transition-colors duration-1000;
}

.custom-placeholder::placeholder {
  @apply text-blackCeniza dark:text-white;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra */
  height: 12px; /* Altura de la barra (para scroll horizontal) */
}

::-webkit-scrollbar-track {
  background: #e9eeff; /* Color de fondo de la pista */
  border-radius: 0px; /* Bordes redondeados de la pista */
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Color del pulgar (la parte que se arrastra) */
  border-radius: 10px; /* Bordes redondeados del pulgar */
  border: 3px solid #e9eeff; /* Espacio entre el pulgar y la pista */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563; /* Color del pulgar al pasar el mouse */
}
.parallax {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 200px; /* Adjust height as needed */
}

.scroller {
  display: inline-flex;
  align-items: center;
}
/* Estilo del fondo en movimiento con gradientes */

/* .header styling */
.header {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  padding-left: 70px;
  box-sizing: border-box;
}

/* .header__background styling */
.header__background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(60deg, #affffe, #6352ff);
  overflow: hidden;
  transform: skewY(3deg) translateY(-40px);
  z-index: -1;
}

.header__background:after {
  content: "";
  background: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
  width: 800%;
  position: absolute;
  top: -400%;
  right: -400%;
  height: 800%;
  opacity: 0.3;
  animation-name: rotate;
  animation-duration: 140s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* .header__title styling */
.header__title {
  color: white;
  z-index: 2;
  display: inline-block;
}

.header__title h1 {
  font-size: 90px;
  font-weight: 900;
  margin: 0;
}

.header__title p {
  font-size: 20px;
  font-weight: 400;
}

/* Keyframe animation for rotation */
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/* El contenedor de los inputs */
input:focus::placeholder {
  opacity: 0; /* El placeholder desaparecerá cuando el input tenga foco */
}

textarea:focus::placeholder {
  opacity: 0; /* Igualmente para el textarea */
}
